<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ConnectionString" value="somedummytestconfig,1433" />
    <add key= "DBName" value="somedummytestdatabase"/>
    <add key= "UserID" value="somedymmytestuserid"/>
    <add key= "Password" value="Pa$$w0rd"/>
  </appSettings>
</configuration>